.text {
    &-color {
        &-primary {
            color: var(--v-textPrimary-base);
        }
        &-accent {
            color: var(--v-textAccent-base);
            &-im {
                color: var(--v-textAccent-base) !important;
            }
        }
        &-secondary {
            color: var(--v-textSecondary-base);
        }
        &-secondary-im {
            color: var(--v-textSecondary-base) !important;
        }
        &-info {
            color: var(--v-textInfo-base);
        }
        &-info-im {
            color: var(--v-textInfo-base) !important;
        }
        &-warning {
            color: var(--v-textWarning-base);
        }
        &-error {
            color: var(--v-textError-base);
        }
        &-success {
            color: var(--v-textSuccess-base);
        }
    }
}